a {
    text-decoration: none;
}

.navbar {
    background-color: #6C91BF;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.navdiv {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

li a{
    color: #F1EDEE;
    font-size: 30px;
    font-weight: bold;
    /*margin-right: 40px;*/
    display: inline-block;
    padding: 5px 0;
}

.active a{
    border-bottom: 3px solid white;
}

.navdiv ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

h1 {
    color: #F1EDEE;
    font-size: 100px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

h2 {
    color: #F1EDEE;
    font-family: 'Courier New',Courier, monospace;
    font-weight: bolder;
    margin-top: 0;
    padding-top: 0;
}

.treasure {
    display: flex;
    width:900px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: 14vw;
}

.science {
    border: none;
    cursor: pointer;
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.science h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace; 
}

.science p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.social{
    border: none;
    cursor: pointer;
    flex: 1;  
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.social h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.social p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.maths {
    border: none;
    cursor: pointer;
    flex: 1; 
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.maths h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.maths p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.gujarati {
    border: none;
    cursor: pointer;
    flex: 1; 
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
    font-family: 'Courier New', Courier, monospace;
}

.gujarati h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.gujarati p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.english {
    border: none;
    cursor: pointer;
    grid: 25; 
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.english h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.english p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.sanskrit {
    border: none;
    cursor: pointer;
    flex: 1;
    background-color: orangered;
    /*width: 200px;*/
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.sanskrit h2 {
    font-size: 50px;
    color: #F1EDEE;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.sanskrit p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

body {
    background: url(bookshelf-pictures-fh2dc9eobbm3s9b6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
