.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100w;
}

.heading {
    font-size: 100px;
    color: #444054;
}

.content {
    background-color: #6c91bf;
    padding: 25px;
    border-radius: 10px;
}

/*details {
    font-size: 20px;
    padding: 15px;
    background-color: #444054;
    color: #f1edee;
    border: 5px solid #f7f7f7;
    border-radius: 10px;
}

summary {
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    list-style-type: "\27A5";
}
summary::marker {
    color: #f1edee;
    font-size: 1.2em;
}

details[open] > ol {
    animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(-10px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); *//*
    }
} */

.heading2 {
    display: flex;
    width: 50vw;
    align-content: center;
    justify-content: center;
    /*border: 10px solid grey;*/
    transform: translate(25vw, -50%);
    color: #2F243A;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #6C91BF;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

li a{
    color: #F1EDEE;
    font-size: 30px;
    font-weight: bold;
    /*margin-right: 40px;*/
    display: inline-block;
    padding: 5px 0;
}

.active a{
    border-bottom: 3px solid white;
}

.navdiv ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.science {
    flex: 1;  
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.science h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.science p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.social science {
    flex: 1;  
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.social science h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.social science p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.maths {
    flex: 1; 
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.maths h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.maths p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.gujarati {
    flex: 1; 
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.gujarati h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.gujarati p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.english {
    flex: 1; 
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.english h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.english p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.sanskrit {
    flex: 1; 
    background-color: #6C91BF;
    width: 150px;
    height: 175px;
    color: #F1EDEE;
    border-radius: 10px;
    /*margin-left: 25%;*/
}

.sanskrit h2 {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
}

.sanskrit p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
}

.grid {
    display: flex;
    gap: 20px;
}

